<aside id="mainAside">
  <a href="/"><i class="fas fa-home fa-lg"></i></a>

  {%- if page.layout == "author" -%}
      {% assign author = site.data.authors[page.title] %}
      {%- if author.github -%}
          <a href="https://www.github.com/{{- author.github -}}" rel="noopener noreferrer"><i class="fab fa-github fa-lg"></i></a>
      {%- endif -%}

      {%- if author.facebook -%}
          <a href="https://www.facebook.com/{{- author.facebook -}}" rel="noopener noreferrer"><i class="fab fa-facebook fa-lg"></i></a>
      {%- endif -%}

      {%- if author.twitter -%}
          <a href="https://www.twitter.com/{{- author.twitter -}}" rel="noopener noreferrer"><i class="fab fa-twitter fa-lg"></i></a>
      {%- endif -%}

      {%- if author.email -%}
          <a id="email" href="#"><i class="fas fa-envelope fa-lg"></i></a>
      {%- endif -%}

  {%- elsif page.layout == "post" -%}

      {%- if page.previous -%}
          <a href="{{- page.previous.url -}}" rel="prev"><i class="fas fa-arrow-left fa-lg"></i></a>
      {%- endif -%}

      {%- if page.next -%}
          <a href="{{- page.next.url -}}" rel="next"><i class="fas fa-arrow-right fa-lg"></i></a>
      {%- endif -%}

      {%- assign description = page.description | url_encode | replace: "+", "%20" -%}
      {%- assign url = page.url | absolute_url | url_encode | replace: "+", "%20" -%}
      {%- assign tags = page.tags | join: ',' | url_encode | replace: "+", "" -%}
      {%- assign subject = page.title | url_encode | replace: "+", "%20" -%}
      {%- assign body = description | append: '%0A%0A' | append: url -%}

      <a href="https://www.facebook.com/sharer/sharer.php?u={{- url -}}" rel="noopener noreferrer"><i class="fab fa-facebook fa-lg"></i></a>
      <a href="https://www.twitter.com/intent/tweet?text={{- description -}}&url={{- url -}}&hashtags={{- tags -}}" rel="noopener noreferrer"><i class="fab fa-twitter fa-lg"></i></a>
      <a href="mailto:?subject={{- subject -}}&body={{- body -}}"><i class="fas fa-envelope fa-lg"></i></a>

  {%- else -%}

      <a href="{{- site.github.owner_url -}}"><i class="fab fa-github fa-lg"></i></a>

      {%- if site.facebook.username -%}
          <a href="https://www.facebook.com/{{- site.facebook.username -}}" rel="noopener noreferrer"><i class="fab fa-facebook fa-lg"></i></a>
      {%- endif -%}

      {%- if site.twitter.username -%}
          <a href="https://www.twitter.com/{{- site.twitter.username -}}" rel="noopener noreferrer"><i class="fab fa-twitter fa-lg"></i></a>
      {%- endif -%}

      {%- if site.email -%}
          <a id="email" href="#"><i class="fas fa-envelope fa-lg"></i></a>
      {%- endif -%}

  {%- endif -%}
</aside>
