<aside id="mainAside">
  <a href="/"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg></a>

  {%- if "posts" == page.collection -%}

      {%- if page.previous -%}
          <a href="{{- page.previous.url -}}" rel="prev"><svg class="icon icon-arrow-left2"><use xlink:href="#icon-arrow-left2"></use></svg></a>
      {%- endif -%}

      {%- if page.next -%}
          <a href="{{- page.next.url -}}" rel="next"><svg class="icon icon-arrow-right2"><use xlink:href="#icon-arrow-right2"></use></svg></a>
      {%- endif -%}

      {%- assign description = page.description | url_encode | replace: "+", "%20" -%}
      {%- assign url = page.url | absolute_url | url_encode | replace: "+", "%20" -%}
      {%- assign mentions = "" | split: "," -%}
      {%- assign tags = "" | split: "," -%}
      {%- for tag in page.tags -%}
          {%- if tag contains "@" -%}
              {%- assign mentions = mentions | push: tag -%}
          {%- else -%}
              {%- assign tags = tags | push: tag -%}
          {%- endif -%}
      {%- endfor -%}
      {%- assign mentions = mentions | join: " " | url_encode | replace: "+", "%20" -%}
      {%- assign tags = tags | join: "," | url_encode | replace: "+", "" -%}
      {%- assign subject = page.title | url_encode | replace: "+", "%20" -%}
      {%- assign body = description | append: '%0A%0A' | append: url -%}

      <a href="https://www.facebook.com/sharer/sharer.php?u={{- url -}}" rel="noopener noreferrer"><svg class="icon icon-facebook2"><use xlink:href="#icon-facebook2"></use></svg></a>
      <a href="https://www.twitter.com/intent/tweet?text={{- description -}}%20{{- mentions -}}&url={{- url -}}&hashtags={{- tags -}}" rel="noopener noreferrer"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
      <a href="mailto:?subject={{- subject -}}&body={{- body -}}"><svg class="icon icon-envelop"><use xlink:href="#icon-envelop"></use></svg></a>

  {%- else -%}

      {%- if "author" == page.collection -%}
          {%- assign github_username = page.github -%}
          {%- assign facebook_username = page.facebook -%}
          {%- assign twitter_username = page.twitter -%}
          {%- assign email_address = page.email -%}
      {%- else -%}
          {%- assign github_username = site.github.owner_name -%}
          {%- assign facebook_username = site.facebook -%}
          {%- assign twitter_username = site.twitter -%}
          {%- assign email_address = site.email -%}
      {%- endif -%}

      {%- if github_username -%}
          <a href="https://www.github.com/{{- github_username -}}" rel="noopener noreferrer"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a>
      {%- endif -%}

      {%- if facebook_username -%}
          <a href="https://www.facebook.com/{{- facebook_username -}}" rel="noopener noreferrer"><svg class="icon icon-facebook2"><use xlink:href="#icon-facebook2"></use></svg></a>
      {%- endif -%}

      {%- if twitter_username -%}
          <a href="https://www.twitter.com/{{- twitter_username -}}" rel="noopener noreferrer"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
      {%- endif -%}

      {%- if email_address -%}
          <a id="email" href="#" target="_top" onclick="(function (el) {
            el.setAttribute('href', 'mailto:{{- email_address -}}');
          })(this);"><svg class="icon icon-envelop"><use xlink:href="#icon-envelop"></use></svg></a>
      {%- endif -%}

  {%- endif -%}
</aside>
