<div class="carousel">
    <a class="controls prev">&#10094;</a>
    <div class="items">
    {%- for item in include.items -%}
        <figure {% if true == forloop.first %}class="curr"{% endif %}>
            {%- if item.include -%}
                {% include {{item.include}} %}
            {%- elsif item.image -%}
                <img src="{{- item.image -}}" />
            {%- elsif item.audio -%}
                <audio controls>
                    <source src="{{- item.audio -}}">
                </audio>
            {%- elsif item.video -%}
                <video controls>
                    <source src="{{- item.video -}}">
                </video>
            {%- endif -%}
            {%- if item.caption -%}
                <figcaption>{{- item.caption -}}</figcaption>
            {%- endif -%}
        </figure>
    {%- endfor -%}
    </div>
    <a class="controls next">&#10095;</a>
</div>
