<div id="cy" style="width: 100%; height: 100%;"></div>

<script defer src="https://unpkg.com/cytoscape@3.12.0/dist/cytoscape.min.js"></script>
<script defer src="https://unpkg.com/webcola@3.4.0/WebCola/cola.min.js"></script>
<script defer src="https://unpkg.com/cytoscape-cola@2.3.0/cytoscape-cola.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    var elements = {
      nodes: [],
      edges: []
    };

    {%- assign family = "" | split: "," -%}
    {%- if page.parent -%}{%- assign family = family | concat: page.parent -%}{%- endif -%}
    {%- if page.sibling -%}{%- assign family = family | concat: page.sibling -%}{%- endif -%}
    {%- if page.spouse -%}{%- assign family = family | concat: page.spouse -%}{%- endif -%}
    {%- if page.knows -%}{%- assign family = family | concat: page.knows -%}{%- endif -%}
    {%- if page.children -%}{%- assign family = family | concat: page.children -%}{%- endif -%}
    {%- if "Person" == page.type -%}{%- assign family = family | push: page.title -%}{%- endif -%}

    {%- assign familyNodes = "" | split: "," -%}

    {%- assign people = site.bible | where: "type", "Person" -%}
    {%- for person in people -%}

        {%- if 0 == family.size or family contains person.title -%}

            elements.nodes.push({
                data: {
                    id: "{{- person.title -}}",
                    type: "{{- person.type -}}",
                    name: "{{- person.name | escape -}}",
                    gender: "{{- person.gender -}}",
                    url: "{{- person.url -}}"
                }
            });

            {%- if person.parent.size == 1 -%}
                {%- for parent in person.parent -%}
                    {%- if 0 == family.size or family contains parent -%}
                        elements.edges.push({
                            data: {
                                source: "{{- parent -}}",
                                target: "{{- person.title -}}",
                                type: "Child"
                            },
                            selectable: false
                        });
                    {%- endif -%}
                {%- endfor -%}
            {%- elsif person.parent.size > 1 -%}
                {%- assign familyId = person.parent | sort | join: "+" | append: "+Children" -%}
                {%- unless familyNodes contains familyId -%}
                    elements.nodes.push({
                        data: {
                            id: "{{- familyId -}}",
                            type: "Family",
                            name: ""
                        },
                        selectable: false
                    });
                    {%- for parent in person.parent -%}
                        {%- if 0 == family.size or family contains parent -%}
                            elements.edges.push({
                                data: {
                                    source: "{{- parent -}}",
                                    target: "{{- familyId -}}",
                                    type: "Parent"
                                },
                                selectable: false
                            });
                        {%- endif -%}
                    {%- endfor -%}
                    {%- assign familyNodes = familyNodes | push: familyId -%}
                {%- endunless -%}
                elements.edges.push({
                    data: {
                        source: "{{- familyId -}}",
                        target: "{{- person.title -}}",
                        type: "Child"
                    },
                    selectable: false
                });
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}

    {%- if 0 != family.size -%}
        if (elements.nodes.length > 10) {
          document.getElementById("cy").style.height = "450px";
        }
        else if (elements.nodes.length > 5) {
          document.getElementById("cy").style.height = "350px";
        }
        else {
          document.getElementById("cy").style.height = "250px";
        }
    {%- endif -%}

    var cy = cytoscape({
      container: document.getElementById("cy"),
      elements: elements,
      style: [{
        selector: "node",
        style: {
          "background-color": function (ele) {
            var id = ele.data("id");
            var gender = ele.data("gender");
            if ("Male" === gender) {
              return "{{- page.title -}}" === id ? "#0070BB" : "#89CFF0"; // spanish blue : baby blue
            }
            else if ("Female" === gender) {
              return "{{- page.title -}}" === id ? "#FF69B4" : "#FFC0CB"; // hotpink : pink
            }
            else {
              var type = ele.data("type");
              if ("Person" === type) {
                return "{{- page.title -}}" === id ? "#2E8B57" : "#71EEB8"; // sea green : seafoam green
              }
              else {
                return "{{- page.title -}}" === id ? "#696969" : "#C0C0C0"; // dim gray : silver
              }
            }
          },
          "label": "data(name)",
          "text-valign": "bottom",
          "text-margin-y": 5
        }
      }, {
        selector: "edge",
        style: {
          "line-color": "#C0C0C0", // silver
          "mid-target-arrow-shape": "triangle",
          "mid-target-arrow-fill": "hollow",
          "arrow-scale": 1.2
        }
      }, {
        selector: "edge[type='Parent']",
        style: {
          "line-style": "dashed"
        }
      }],
      autoungrabify: true,
      userPanningEnabled: false,
      userZoomingEnabled: false
    });

    cy.on("resize", function (event) {
      cy.fit();
      cy.center();
    });

    cy.on("tap", "node", function (event) {
      if (event.target.selectable()) {
        window.location.href = event.target.data("url");
      }
    });

    cy.layout({
      name: "cola",
      padding: 10,
      nodeDimensionsIncludeLabels: true,
      flow: {
        axis: "y",
        minSeparation: 75
      },
      unconstrIter: 10,
      userConstIter: 15,
      allConstIter: 20,
      infinite: true
    }).run();

  });
</script>
