img {
  max-width: 100%;
}

svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

main > aside {
  a {
    padding: 0.5rem;
    color: inherit;
  }

  svg.icon {
    font-size: 1.5em;
  }
}

main > section, main > article {
  header {
    h1, h3 {
      margin: 0; /* remove default margin on these headers */
      padding-left: 1rem;
      padding-right: 1rem;
      @media #{$mq-small} {
        padding-left: 0;
        padding-right: 0;
      }
      span {
        color: #A9A9A9; /* dark gray */
        font-size: 0.75em;
      }
    }
    time {
      color: #8B0000; /* dark red */
    }
  }

  a {
    color: #008080; /* teal */
    text-decoration: none;
  }

  blockquote {
    position: relative;
    margin: 1rem 0; /* remove default left and right margins on blockquotes */
    border-top: 1px solid #D3D3D3; /* border-top and bottom is needed so... */
    border-bottom: 1px solid #D3D3D3; /* that there is margin around quote. */
    &:before, &:after {
      position: absolute;
      top: -2.75rem;
      font-size: 6rem;
      font-family: Helvetica, Arial, sans-serif;
      color: #008080; /* teal */
    }
    &:before {
      content: "\201C"; /* left double quotation mark */
      left: 0;
    }
    &:after {
      content: "\201D"; /* right double quotation mark */
      right: 0;
    }
    p {
      cite {
        color: #8B0000; /* dark red */
        &:before {
          content: "\2014\2009" /* emdash and thin space */
        }
      }
    }
  }

  p {
    padding-left: 1rem;
    padding-right: 1rem;
    @media #{$mq-small} {
      padding-left: 0;
      padding-right: 0;
    }
    &.author {
      margin: 0;
      font-size: smaller;
    }
    &.category {
      margin: 0;
      font-weight: bold;
      text-transform: uppercase;
    }
    &.description {
      margin: 0;
      color: #A9A9A9; /* dark gray */
    }
  }

  div {
    &.hero {
      border-top: 1px dotted #343434; /* jetblack */
      border-bottom: 1px dotted #343434; /* jetblack */
      margin: 1rem 0;
    }
  }
}
