body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media #{$mq-small} {
    font-size: 1.125em;
  }

  @media #{$mq-medium} {
    font-size: 1.25em;
  }

  @media #{$mq-large} {
    font-size: 1.375em;
  }

  @media #{$mq-xlarge} {
    font-size: 1.5em;
  }

  @media #{$mq-xxlarge} {
    font-size: 1.625em;
  }
}

main {
  flex-grow: 1;
  color: #343434; /* jet black */
  display: flex;
  flex-direction: column;

  @media #{$mq-small} {
    margin: 1rem 8%;
    flex-direction: row;
    justify-content: center;
  }

  @media #{$mq-medium} {
    margin: 1rem 12%;
  }

  @media #{$mq-large} {
    margin: 1rem 16%;
  }

  @media #{$mq-xlarge} {
    margin: 1rem 20%;
  }
}

main > aside {
  flex-shrink: 0;
  padding: 0 0.5rem;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99; /* needed so that the aside is always shown above blockquotes */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media #{$mq-small} {
    flex-direction: column;
    align-self: flex-start;
  }
}

main > section,
main > article {
  flex-grow: 1;
}
