@import "sanitize";
@import "typography";
@import "variables";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media #{$mq-small} {
    font-size: 1.125em;
  }

  @media #{$mq-medium} {
    font-size: 1.25em;
  }

  @media #{$mq-large} {
    font-size: 1.375em;
  }

  @media #{$mq-xlarge} {
    font-size: 1.5em;
  }

  @media #{$mq-xxlarge} {
    font-size: 1.625em;
  }
}

img {
  max-width: 100%;
}

svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

main#pageTorso {
  flex-grow: 1;
  color: #343434; /* jet black */
  display: flex;
  flex-direction: column;

  @media #{$mq-small} {
    margin: 1rem 8%;
    flex-direction: row;
    justify-content: center;
  }

  @media #{$mq-medium} {
    margin: 1rem 12%;
  }

  @media #{$mq-large} {
    margin: 1rem 16%;
  }

  @media #{$mq-xlarge} {
    margin: 1rem 20%;
  }
}

main#pageTorso > aside#mainAside {
  flex-shrink: 0;
  padding: 0 0.5rem; /* padding-left/right plus... */
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99; /* needed so that the aside is always shown above blockquotes */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media #{$mq-small} {
    flex-direction: column;
    align-self: flex-start;
  }

  a {
    padding: 0.5rem; /* ...padding-left/right should equal...  */
    color: inherit;
  }

  svg.icon {
    font-size: 1.5em;
  }
}

main#pageTorso > section#mainContent,
main#pageTorso > article#mainContent {
  flex-grow: 1;

  header {
    h1, h3 {
      margin: 0; /* remove default margin on these headers */
      padding-left: 1rem; /* ...this and... */
      padding-right: 1rem; /* ...this should match... */
      @media #{$mq-small} {
        padding-left: 0; /* @media small padding-left */
        padding-right: 0; /* and right should match */
      }
      span {
        color: #A9A9A9; /* dark gray */
        font-size: 0.5em;
      }
    }
    time {
      color: #8B0000; /* dark red */
    }
  }

  a {
    color: #008080; /* teal */
    text-decoration: none;
  }

  blockquote {
    position: relative;
    margin: 1rem 0; /* remove default left and right margins on blockquotes */
    border-top: 1px solid #D3D3D3; /* border-top and bottom is needed so... */
    border-bottom: 1px solid #D3D3D3; /* that there is margin around quote. */
    &:before, &:after {
      position: absolute;
      top: -2.75rem;
      font-size: 6rem;
      font-family: Helvetica, Arial, sans-serif;
      color: #008080; /* teal */
    }
    &:before {
      content: "\201C"; /* left double quotation mark */
      left: 0;
    }
    &:after {
      content: "\201D"; /* right double quotation mark */
      right: 0;
    }
    p {
      cite {
        color: #8B0000; /* dark red */
        &:before {
          content: "\2014\2009" /* emdash and thin space */
        }
      }
    }
  }

  p {
    padding-left: 1rem; /* ...this... */
    padding-right: 1rem; /* ...and this, respectively */
    @media #{$mq-small} {
      padding-left: 0; /* this @media small padding-left */
      padding-right: 0; /* and right, respectively */
    }
    &.author {
      margin: 0;
      font-size: smaller;
    }
    &.category {
      margin: 0;
      font-weight: bold;
      text-transform: uppercase;
    }
    &.description {
      margin: 0;
      color: #A9A9A9; /* dark gray */
    }
  }

  div {
    &.hero {
      border-top: 1px dotted #343434; /* jetblack */
      border-bottom: 1px dotted #343434; /* jetblack */
      margin: 1rem 0;
    }
  }
}
