---
layout: page
---

{{content}}

{%- if "author" == page.collection -%}
    {%- assign filtered_posts = site.posts | where: "authors", page.title -%}
{%- elsif "category" == page.collection -%}
    {%- assign filtered_posts = site.posts | where: "categories", page.title -%}
{%- else -%}
    {%- assign filtered_posts = site.posts -%}
{%- endif -%}

{%- if filtered_posts.size == 0 -%}
    <p>No posts have been published yet. Please check back later. Thanks!</p>
{%- else -%}
    {%- for post in filtered_posts -%}
        <article>
            <header>
                <h3><a href="{{- post.url -}}">{{- post.title | escape -}}</a></h3>
                <p class="author">
                    {%- if site.author.size > 1 -%}
                        {%- assign first = true -%}
                        {%- for post_author in post.authors -%}
                            {%- assign site_author = site.author | where: "title", post_author | first -%}
                            {%- if site_author -%}
                                {% unless first %} , {% endunless %}
                                <a href="{{- site_author.url -}}">{{- site_author.name | default: site_author.title | escape -}}</a>
                                {%- assign first = false -%}
                            {%- endif -%}
                        {%- endfor -%}
                        {% unless first %} | {% endunless %}
                    {%- endif -%}
                    <time datetime="{{- post.date | date: "%F %T%z" -}}">{{- post.date | date: "%A, %B %d, %Y" -}}</time>
                </p>
                <p>{{- post.description | escape -}}</p>
            </header>
        </article>
    {%- endfor -%}
{%- endif -%}
