---
layout: page
---

{%- assign filtered_posts = site.posts | where: "categories", page.title -%}
{%- if filtered_posts.size == 0 -%}
    <p>No posts have been published under this category yet. Please check back later. Thanks!</p>
{%- else -%}
    {%- for post in filtered_posts -%}
        <article>
            <header>
                <h3><a href="{{- post.url -}}">{{- post.title | escape -}}</a></h3>
                {%- if site.data.authors.size > 1 -%}
                    {%- assign first = true -%}
                    {%- for post_author in post.authors -%}
                        {%- assign data_author = site.data.authors[post_author] -%}
                        {%- assign site_author = site.author | where: "title", post_author | first -%}
                        {%- if data_author and site_author -%}
                            {% unless first %} , {% endunless %}
                            <a href="{{- site_author.url -}}" class="author">{{- data_author.name | escape -}}</a>
                            {%- assign first = false -%}
                        {%- endif -%}
                    {%- endfor -%}
                    {% unless first %} | {% endunless %}
                {%- endif -%}
                <time datetime="{{- post.date | date: "%F %T%z" -}}">{{- post.date | date: "%B %d, %Y" -}}</time>
            </header>
            <p>{{- post.description | escape -}}</p>
        </article>
    {%- endfor -%}
{%- endif -%}
