---
layout: default
---

<section id="mainContent">
  <header>
    <h1>
        {%- if "bible" == page.collection and "Person" == page.type -%}
            {{ page.name | escape }}
            {% if page.alternateName %}
                <span>({{ page.alternateName | escape }})</span>
            {% endif %}
        {%- else -%}
            {{ page.title | escape }}
        {%- endif -%}
    </h1>
    <p class="description">{{- page.description | escape -}}</p>
  </header>
  <div class="hero">
      {%- if "bible" == page.collection and "Person" == page.type -%}
          {%- include genealogy.html -%}
      {%- elsif page.image -%}
          <img src="{{- page.image -}}" />
      {%- endif -%}
  </div>
  {{- content -}}
</section>
