---
layout: default
---

<section>
  <header>
    <h1>
        {%- if "bible" == page.collection and "Person" == page.type -%}
            {{ page.name | escape }}
            {% if page.alternateName %}
                <span>({{ page.alternateName | escape }})</span>
            {% endif %}
        {%- else -%}
            {{ page.title | escape }}
        {%- endif -%}
    </h1>
    <p class="description">{{- page.description | escape -}}</p>
  </header>
  <div class="hero">
      {%- if page.hero -%}
          {% include carousel.html items=page.hero %}
      {%- endif -%}
  </div>
  {{- content -}}
</section>
