---
layout: default
---

<article id="mainContent">
    <header>
        {%- for page_category in page.categories -%}
            {%- assign site_category = site.category | where: 'title', page_category | first  -%}
            {%- if site_category -%}
                <a href="{{- site_category.url -}}" class="category">{{- site_category.title -}}</a>
            {%- endif -%}
        {%- endfor -%}
        <h1>{{- page.title | escape -}}</h1>
        <p class="description">{{- page.description | escape -}}</p>
        {%- if site.author.size > 1 -%}
            {%- assign first = true -%}
            {%- for page_author in page.authors -%}
                {%- assign site_author = site.author | where: "title", page_author | first -%}
                {%- if site_author -%}
                    {% unless first %} , {% endunless %}
                    <a href="{{- site_author.url -}}" class="author">{{- site_author.name | default: site_author.title | escape -}}</a>
                    {%- assign first = false -%}
                {%- endif -%}
            {%- endfor -%}
            {% unless first %} | {% endunless %}
        {%- endif -%}
        <time datetime="{{- page.date | date: "%F %T%z" -}}">{{- page.date | date: "%B %d, %Y" -}}</time>
        {%- if page.image -%}
            <div class="hero"><img src="{{- page.image -}}" /></div>
        {%- endif -%}
    </header>
    {{- content -}}
</article>
